<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="zut.cs.network.bookshop.dao.UserDao">
    <!-- 添加用户 -->
    <insert id="addUser" parameterType="zut.cs.network.bookshop.entity.User">
    INSERT INTO user(username,password,gender,email,telephone,introduce,activecode) 
    VALUES (#{username},#{password},#{gender},#{email},#{telephone},#{introduce},#{activecode})
    </insert>
     <!-- 查询所有 -->
    <select id="AllUser" resultType="zut.cs.network.bookshop.entity.User">
        SELECT * FROM user
    </select>
    
</mapper>